.parallax_1{
  background-image: url(../image/1.jpg);
  min-height: 500px;

}
.parallax_2{
  background-image: url(../image/2.jpg);
  min-height: 500px;
}
.parallax_3{
  background-image: url(../image/3.jpg);
  min-height: 500px;
 
}
.parallax_4{
  background-image: url(../image/1.jpg);
  min-height: 500px;
}
.parallax_5{
  background-image: url(../image/2.jpg);
  min-height: 500px;
}
.parallax_one_inner{}
.parallax_two_inner{}
.parallax_three_inner{}
.parallax_four_inner{}
.parallax_five_inner{}
.contant h2{
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  color: #fff;
}
